# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
apps/web/static/
apps/web/.svelte-kit/
apps/web/worker-configuration.d.ts
**/_generated/
apps/mobile/.expo/
